* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

ul li {
    display: inline;
}
.doc {
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 19px;
    padding: 10px;
}
.name {
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size:15px;
    padding: 10px;
}
.link {
    font-family: "Arial", cursive;
    font-size:15px;
    padding: 10px;
    color: #787777;
}
.link:hover {
    color: silver;
}

/* Header */
header{
    width:100%;
    height:55px;
    background:#202020;
    display: flex;
    align-items: center;
}

.round {
    border-radius: 5px; /* Радиус скругления */
    border: none; /* Параметры рамки */
    width: 200px;
    height: 140px;
}

.row {
    margin-left: 150px;
    font-family: "Helvetica, Arial", sans-serif;
    padding: 10px;
    line-height: 1.5em;
}

.link-dark:hover {
    color: #666666;
}
.link-dark {
    color: #222222;
    text-decoration: underline;
}
.heading {
    height: 1.3em;
    font-size: 30px;
}

/*Сarousel slide*/

.wrapper {
    width: 100%;
    height: 95px;
    position: relative;
}

.slider {
    background-color: #777777;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.wrapper > input {
    display: none;
}

.slide {
    height: inherit;
    position: absolute;
    width: inherit;
}

.slide1 { background-color: #777777; }
.slide2 { background-color: #777777; }

.wrapper .controls {
    left: 50%;
    margin-left: -98px;
    position: absolute;
    top: 10px; bottom: 5px;
    z-index: 2;
}
.wrapper label {
    display: inline-block;
    height: 10px;
    margin: 15px;
    position: relative;
    width: 6px;
    z-index: 5;
}
.wrapper label:after {
    content: " ";
    display: block;
    height: 4px;
    left: -4px;
    position: absolute;
    top: 45px;
    width: 30px;
    margin: 2px;
    background-color: #CFD8DC;
    border-radius: 1px;
    cursor: pointer;
}

/*.wrapper label {*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    height: 8px;*/
/*    margin: 25px 12px 0 16px;*/
/*    position: relative;*/
/*    width: 8px;*/
/*    border-radius: 2px;*/
/*    background-color: #CFD8DC;*/
/*}*/

.wrapper label:hover {
        opacity: 0.5;
}

/*.wrapper label:hover,*/
/*#slide1:checked ~ .controls label:nth-of-type(1),*/
/*#slide2:checked ~ .controls label:nth-of-type(2) {*/
/*    background: #0000ff;*/
/*}*/

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: -1;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2 {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

    animation: move 1s ease-in-out 0.5s 2 alternate;
    -moz-animation: move 1s ease-in-out 0.5s 2 alternate;
    -webkit-animation: move 1s ease-in-out 0.5s 2 alternate;
}
@keyframes move {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100%);
    }
}
@-moz-keyframes move {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(100px);
    }
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(100px);
    }
}

/*button*/
.button {
    background-color: #0d6efd;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 12px 10px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 .btn {
     color: white;
     font-family: "Arial", sans-serif;
     font-size: 18px;
 }

 .button:hover {
     background-color: #1463c1; /* Green */
 }

.slide1 .button {
    margin-left: 20%;
}

.slide2 .button {
    margin-left: 45%;
}


/*Line*/
.hr-line {
    border-top: 1px solid silver;
    margin: 20px 140px;
}

/*square*/

.square {
    width: 500px;
    height: 350px;
    background: #777777;
    display: block;
    float: right;
    margin: 0px 150px 7px 7px;
}
@media (max-width: 1000px) {
    .square {
        display: none;
    }
}

/*experience*/

.text {
    margin-left: 150px;
    line-height: 1.5em;
    font-family: "Helvetica, Arial", sans-serif;
    /*text-align: left;*/
}

/*Line2*/
.hr-line2 {
    border-top: 1px solid silver;
    margin: 65px 130px;
    margin-bottom: 20px;
}
/*Line3*/
.hr-line3 {
    border-top: 1px solid silver;
    margin: 35px 130px;
    margin-bottom: 20px;
}

.square2 {
    width: 500px;
    height: 350px;
    background: #777777;
    display: block;
    float: left;
    margin: 0px 20px 7px 150px;
}

@media (max-width: 1000px) {
    .square2 {
        display: none;
    }
}

.square3 {
    width: 500px;
    height: 450px;
    background: #777777;
    display: block;
    float: right;
    margin: 0px 150px 7px 7px;
}


@media (max-width: 1000px) {
    .square3 {
        display: none;
    }
}
.head {
    margin-bottom: 15px;
}

.head_2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #777777;
}

.head_3 {
    margin-bottom: 15px;
}

/*footer*/

footer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.link_back {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #0000ff;
    text-decoration: underline;
    font-size:15px;
}
.float-end {
    margin-left: 150px;
    margin-right: 70%;
    font-size: 17px;
    font-family: Arial, sans-serif;
    color: -webkit-text;
}


